* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f4f4f4;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff;
  position: relative;
}


.navbar-left {
  display: flex;
  align-items: center;
  gap: 15px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.logo {
  width: 40px;
  height: auto;
}

.site-name {
  font-weight: bold;
  font-size: 1.5rem;
  color: #000;
}

.navbar-right {
  display: flex;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.content {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.left-section {
  flex: 1;
  max-width: 400px;
}

.box-login {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-box {
  text-align: center;
}

h2.left-section {
  margin-bottom: 20px;
}

h3 {
  margin: 20px 0;
  font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

form p {
  margin: 10px 0 5px;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.links {
  margin-bottom: 15px;
}

.login-button {
  background-color: #6F4B9B ;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #45a049;
}

.right-section {
  flex: 1;
  max-width: 400px;
  padding-left: 20px;
}

.box {
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.icon {
  margin-right: 10px;
}

.text h4 {
  margin-bottom: 5px;
}

.line {
  border-top: 1px solid #ccc;
  margin: 20px 0;
}
